@model B1809531_EShop_MVC6.Models.CategoryCreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row d-flex justify-content-center">

    <div class="col-lg-6">

        <!-- Default Card Example -->
        <div class="card mb-4">

            <div class="card-header py-3">
                <h1 class="text-primary">Thêm mới</h1>
                <h4 class="text-primary">Loại sản phẩm</h4>
            </div>

            <div class="card-body">
                <form asp-action="Create" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label class="control-label"> Tên: </label>
                        <input asp-for="Categoryname" class="form-control" required/>
                        <span asp-validation-for="Categoryname" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="CategoryImageFile" class="btn btn-outline-primary d-block">
                            <i class="fas fa-camera"></i>
                            Chọn hình ảnh
                        </label>
                        <input type="file" asp-for="CategoryImageFile" accept="image/*" 
                            class="input-file" onchange="showPreview(event)" required />
                        <img id="file-ip-1-preview" class="img-edit" />
                    </div>
                  
                    <div class="form-group">
                        <div>
                            <input type="submit" value="Thêm" class="btn btn-primary" />
                            <a asp-action="Index" class="btn btn-secondary">Trở lại</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
