@using B1809531_EShop_MVC6.Helpers
@model B1809531_EShop_MVC6.Models.CategoryModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row d-flex justify-content-center">

    <div class="col-lg-6">

        <!-- Default Card Example -->
        <div class="card mb-4">

            <div class="card-header py-3">
                <h1 class="text-primary">Chi tiết</h1>
                <h4 class="text-primary">Loại sản phẩm</h4>
            </div>

            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-2">
                        Tên:
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Categoryname)
                    </dd>
                    <dt class="col-sm-2">
                        Ngày tạo:
                    </dt>
                    <dd class="col-sm-10">
                        @{
                            var datetime = DatetimeHelpers.UnixTimeStampToDateTime
                            (Model.Categorycreateddate.HasValue ? Model.Categorycreateddate.Value : 0).ToString();
                        }
                        @(datetime)
                    </dd>
                    <dt class="col-sm-2">
                        Hình ảnh:
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Categoryimage)
                    </dd>
                    <dt class="col-sm-2">

                    </dt>
                    <dd class="col-sm-10">
                        <img src="/@(GetPath.CategoryImage+ Model.Categoryimage)" class="img-details" />
                    </dd>

                </dl>
           </div>
        </div>
    </div>
</div>

<div class="row d-flex justify-content-center">
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Categoryid" class="btn btn-warning">Chỉnh sửa</a>

        <a asp-action="Index" class="btn btn-secondary">Trở lại</a>
    </div>
</div>
