@using B1809531_EShop_MVC6.Helpers
@model B1809531_EShop_MVC6.Models.CategoryUpdateModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row d-flex justify-content-center">

    <div class="col-lg-6">

        <!-- Default Card Example -->
        <div class="card mb-4">

            <div class="card-header py-3">
                <h1 class="text-primary">Chỉnh sửa</h1>
                <h4 class="text-primary">Loại sản phẩm</h4>
            </div>

            <div class="card-body">
                <form asp-action="Edit" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Categoryid" />
                    <input type="hidden" asp-for="Categorycreateddate" />
                    <div class="form-group">
                        <label class="control-label">Tên:</label>
                        <input asp-for="Categoryname" class="form-control" required />
                        <span asp-validation-for="Categoryname" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Ảnh hiện tại: </label>
                        <input asp-for="Categoryimage" class="form-control" readonly />
                        <img src="/@(GetPath.CategoryImage + Model.Categoryimage)" class="img-edit" />

                    </div>

                    <div class="form-group">
                        <label class="control-label">Chọn ảnh khác:</label>
                        <input type="file" asp-for="CategoryImageFile" accept="image/*" class="form-control-file" onchange="showPreview(event)" />
                        <img id="file-ip-1-preview" class="img-edit" />
                    </div>

                    <div class="form-group">
                        <button type="button" class="btn btn-outline-dark" onclick="cleanImageFile('CategoryImageFile')"> x Bỏ ảnh đã chọn</button>
                    </div>

                    <div class="form-group">
                        <div>
                            <input type="submit" value="Lưu thay đổi" class="btn btn-primary" />
                            <a asp-action="Index" class="btn btn-secondary">Trở lại</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

