@using B1809531_EShop_MVC6.Helpers
@using X.PagedList;
@model IPagedList<ProductModel>
@{
    ViewData["Title"] = "Danh sách các sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    SelectList brandList = ViewBag.Brands;
    SelectList categoryList = ViewBag.Categories;
}


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@ViewData["Title"]</h6>
    </div>
    <div class="p-1">
        <ul class="nav nav-tabs" id="product-nav">
            <li class="nav-item ">
                <a class="nav-link m-0 font-weight-bold active" id ="getAll" href="#getAll">
                    Tất cả sản phẩm
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link m-0 font-weight-bold" id="getOutOfStock" href="#getOutOfStock">
                    Sản phẩm cần nhập thêm                   
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link m-0 font-weight-bold" id="getHot" href="#getHot">
                    Sản phẩm hot
                </a>
            </li>  
            <li class="nav-item">
                <a class="nav-link m-0 font-weight-bold" id="getNotInActive" href="#getNotInActive">
                    Sản phẩm ngừng kinh doanh
                </a>
            </li>
        </ul>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row pb-3">
                    <div class="col-sm-12 col-md-6">
                        <a asp-action="Create" class="btn btn-primary">Thêm mới</a>
                    </div>


                </div>
                <div class="row pb-3">

                    <div class="col-sm-12 col-md-6">
                        <div id="dataTable_filter" class="dataTables_filter">
                            <label class="font-weight-bold">
                                Tìm kiếm:
                            </label>
                            <div class="input-group col-md-8">
                                <input type="text" id="keyword" class="form-control small" placeholder="Nhập tên sản phẩm..." aria-controls="dataTable">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row pb-3">
                    <div class="col-sm-12 col-md-6">
                        <div class="dataTables_length" id="dataTable_length">
                            <label class="font-weight-bold">
                                Thương hiệu
                            </label>
                            <label>
                                <select name="brand" id="brand" aria-controls="dataTable" asp-items="brandList" class="custom-select custom-select-sm form-control form-control-sm">
                                    <option value="" selected>Tất cả</option>
                                </select>

                            </label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="dataTables_length" id="dataTable_length">
                            <label class="font-weight-bold">
                                Loại sản phẩm
                            </label>
                            <label>
                                <select name="category" id="category" asp-items="categoryList" aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm">
                                    <option value="" selected>Tất cả</option>
                                </select>

                            </label>
                        </div>
                    </div>
                </div>
                <div class="row" id="listContainer">
                    <partial name="_listPartial" model="Model" />
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {

            $.fn.filterFunction = function(){

                let strkeyword = $("#keyword").val()
                let brandId = $("#brand").children(":selected").attr('value')
                let categoryId = $("#category").children(":selected").attr('value')

                let id = $("#product-nav>li>a.active").attr("id")
                let data =  {
                        search: strkeyword,
                        brand: brandId,
                        category: categoryId
                    }
               
                if (id == "getHot") {
                    data.isGetHot =  true 
                }
                if (id == "getOutOfStock") {
                    data.isGetOutOfStock = true                    
                }
                if (id == "getNotInActive") {
                    data.isGetNotInActive = true                 
                }

                $.ajax({
                    url: "/Admin/Products/GetOnePage",
                    datatype: "json",
                    type: "POST",
                    data: data,
                    async: true,
                    success: function (results) {
                        $("#listContainer").html("")
                        $("#listContainer").html(results)
                    },
                    error: function (xhr) {
                        alert('error')
                    }
                })
            }

            $.fn.changeNavFunction = function (id) {
                let data
                if(id == "#getAll"){
                    data = {}
                }
                if (id == "#getHot"){
                    data = { isGetHot: true}
                }
                if (id == "#getOutOfStock") {
                    data = { isGetOutOfStock: true }
                }
                if (id == "#getNotInActive") {
                    data = { isGetNotInActive: true }
                }

                $.ajax({
                    url: "/Admin/Products/GetOnePage",
                    datatype: "json",
                    type: "POST",
                    data: data,
                    async: true,
                    success: function (results) {
                        $("#listContainer").html("")
                        $("#listContainer").html(results)

                        $("#category").val("")
                        $("#brand").val("")
                        $("#keyword").val("")

                        $("#product-nav>li>a.active").removeClass("active")
                        $(id).addClass("active")
                    },
                    error: function (xhr) {
                        alert('error')
                    }
                })
            }

            $("#keyword").keyup(function () {
                $.fn.filterFunction()
            })

            $("#brand").change(function () {
                $.fn.filterFunction()
            })

            $("#category").change(function () {
                $.fn.filterFunction()
            })


            $("#getAll").click(function () {
                $.fn.changeNavFunction("#getAll")
            })

            $("#getHot").click(function () {
                $.fn.changeNavFunction("#getHot")
            })

             $("#getOutOfStock").click(function () {
                $.fn.changeNavFunction("#getOutOfStock")
            })

            $("#getNotInActive").click(function () {
                $.fn.changeNavFunction("#getNotInActive")
            })

        })
    </script>
}

