@using System.Security.Claims
@{
    if (User.Identity.IsAuthenticated)
    {
        var userClaim = (ClaimsIdentity)User.Identity;
        <li>
            <a asp-action="GetCart" asp-controller="Shopping">
                <i class="fa fa-shopping-bag"></i><span>@userClaim.FindFirst("CartQuantity").Value</span>
            </a>
        </li>
    }
    else
    {
        <li>
            <a asp-action="Login" asp-controller="User">
                <i class="fa fa-shopping-bag"></i><span>0</span>
            </a>
        </li>
    }
}
   
