
@{
    ViewData["Title"] = "Xem giỏ hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad" id="cart-item-section">
    @await Component.InvokeAsync("CartItem")
</section>
<!-- Shoping Cart Section End -->
