.list-image {
    width: 100%;
    max-width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-details {
    width: 100%;
    max-width: 200px;
}

.img-edit {
    width: 100%;
    max-width: 200px;
    margin-top: 15px;
}

.a-hide-show {
    text-decoration: auto;
}

.a-hide-show:hover {
   cursor: pointer;
}

.product-describe{
    display: none;
}

